{% extends 'bases/landing/base.html' %}
{% block title %}Misión y Visión del Cabildo Gran Putumayo{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4 font-weight-bold text-primary">Misión y Visión</h1>
    <p class="lead text-muted text-center mb-5">
        Promoviendo el respeto, la identidad cultural y el desarrollo integral de nuestro pueblo.
    </p>
    <div class="row justify-content-center">
        <div class="col-lg-5 mb-4">
            <div class="bg-white p-4 rounded shadow-lg border border-success">
                <h2 class="font-weight-bold text-success">Misión</h2>
                <p class="text-justify mb-4">
                    Nuestra misión es trabajar en unidad para fortalecer y preservar la cultura, los valores y los derechos del pueblo Gran Putumayo Comuidad Pasto. Nos comprometemos a defender la autonomía, la integridad territorial y a promover un desarrollo sostenible que respete nuestra relación sagrada con la naturaleza. A través de la educación, la participación y el diálogo intercultural, buscamos garantizar el bienestar, el empoderamiento y la dignidad de nuestra comunidad.
                </p>
            </div>
        </div>
        <div class="col-lg-5 mb-4">
            <div class="bg-white p-4 rounded shadow-lg border border-info">
                <h2 class="font-weight-bold text-info">Visión</h2>
                <p class="text-justify mb-4">
                    Nuestra visión es construir una sociedad en la que el pueblo Gran Putumayo Comuidad pasto sea reconocido y respetado como una comunidad fuerte, sabia y próspera. Aspiramos a un futuro donde nuestra identidad cultural y conocimientos ancestrales sean preservados y compartidos con las próximas generaciones, contribuyendo a una convivencia armoniosa y equitativa. Con liderazgo, compromiso y responsabilidad social, buscamos ser un modelo de gestión y desarrollo para los pueblos originarios en Colombia.
                </p>
            </div>
        </div>
    </div>
    <div class="text-center">
        <p class="font-weight-light text-muted">
            Caminemos juntos hacia un futuro de paz y dignidad para nuestra gente. Gracias por ser parte de nuestra misión y visión.
        </p>
    </div>
</div>
{% endblock %}
